<router-outlet></router-outlet>
<svg-component [iconReference]="'add'" [iconClass]="'svg-icon'"></svg-component>
<svg-component [iconReference]="'analytics'" [iconClass]="'svg-icon'"></svg-component>
<svg-component [iconReference]="'call'" [iconClass]="'svg-icon'"></svg-component>
<svg-component [iconReference]="'chat'" [iconClass]="'svg-icon'"></svg-component>
<svg-component [iconReference]="'contactless'" [iconClass]="'svg-icon'"></svg-component>
<svg-component [iconReference]="'deck'" [iconClass]="'svg-icon'"></svg-component>
<svg-component [iconReference]="'delete'" [iconClass]="'svg-icon'"></svg-component>
<svg-component [iconReference]="'email'" [iconClass]="'svg-icon'"></svg-component>
<svg-component [iconReference]="'fastfood'" [iconClass]="'svg-icon'"></svg-component>
<svg-component [iconReference]="'fingerprint'" [iconClass]="'svg-icon'"></svg-component>
<svg-component [iconReference]="'flag'" [iconClass]="'svg-icon'"></svg-component>
<svg-component [iconReference]="'flight'" [iconClass]="'svg-icon'"></svg-component>
<svg-component [iconReference]="'luggage'" [iconClass]="'svg-icon'"></svg-component>
<svg-component [iconReference]="'restaurant'" [iconClass]="'svg-icon'"></svg-component>
<svg-component [iconReference]="'settings'" [iconClass]="'svg-icon'"></svg-component>
<svg-component [iconReference]="'train'" [iconClass]="'svg-icon'"></svg-component>
<svg-component [iconReference]="'view_carousel'" [iconClass]="'svg-icon'"></svg-component>
