<router-outlet></router-outlet>
<div style="text-align: center;">
  <svg-component [iconReference]="'add'"></svg-component>
  <svg-component [iconReference]="'analytics'"></svg-component>
  <svg-component [iconReference]="'call'"></svg-component>
  <svg-component [iconReference]="'chat'"></svg-component>
  <svg-component [iconReference]="'contactless'"></svg-component>
  <svg-component [iconReference]="'deck'"></svg-component>
  <svg-component [iconReference]="'delete'"></svg-component>
  <svg-component [iconReference]="'email'"></svg-component>
  <svg-component [iconReference]="'fastfood'"></svg-component>
  <svg-component [iconReference]="'fingerprint'"></svg-component>
  <svg-component [iconReference]="'flag'"></svg-component>
  <svg-component [iconReference]="'flight'"></svg-component>
  <svg-component [iconReference]="'luggage'"></svg-component>
  <svg-component [iconReference]="'restaurant'"></svg-component>
  <svg-component [iconReference]="'settings'"></svg-component>
  <svg-component [iconReference]="'train'"></svg-component>
  <svg-component [iconReference]="'view_carousel'"></svg-component>
</div>
